*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
}
nav{
    width:100%;
}
#navlist{
    width:100%;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
}
#bookmark{
    display:flex;
    gap:10px;
}
.navcontainer{
    width:100vw;
    background: #ded11f;
    background: linear-gradient(90deg, rgba(222, 209, 31, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    min-height: 80px; 
    display:flex;
    justify-content: center;
    align-items:center;
    position: relative;
}
.Container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
.box1{
        height:350px;
        width:1200px; 
        background-image: url('hotel.png');
        background-repeat: no-repeat;
        border:1px solid darkmagenta;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
.box2,.box4{
        display:flex;
        flex-direction: row-reverse;
        width:800px;
        justify-content: space-between;
    }
.box3{
        display:flex;
        flex-direction: row;
        width:800px;
        justify-content: space-between;
    }
img{
        height:15rem;
        width:24rem;
        border-radius: 10px;
    }
.innerbox{
        height:15rem;
        width:20rem;
        display:flex;
        flex-direction:column;
        justify-content: start;
        margin:5px;
        padding:5px;
}
/* .box5{
        height:100px;
        width:90vw;
        border: 1px solid darkgreen;
        background-color:bisque;
        box-sizing: border-box;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: start;
} */
.parabox{
    border:1px solid darkviolet;
    box-sizing: border-box;
    margin:10px;
    padding:10px;
    border-radius: 7px;
    overflow-y: auto;
}

